#aaa{border:2px solid #000065;
display: inline-block; width:567px;}
#menubar{background-color:#000065;}
#menubar ul{margin :0; padding:0; width:567px;}
#menubar ul li a{text-decoration: none; color : white;}
#menubar ul li {display: inline-block; padding:0px 15px;}
#menubar ul li:hover {color: white; background-color: #12465F;}

body{padding-top:30px; color:#ff4d4d;
 font-family:"Consolas";
  font-size:large;}
