#aaa{border:3px dotted #c4c4c4;
width:70%;
height:70vh; display: inline-block;}
#menubar ul{margin :0; padding:0; width:567px;}
#menubar ul li a{text-decoration: none; color : white;}
#menubar ul li {display: inline-block; padding:0px 15px;}
#menu{padding: 10px; display: inline-block; position : absolute; top: 240px; }
#menubar ul:hover{ color: white;
 background-color: #90603a
}
text-decoration: none; 
color: #887671;
}
#menu div:hover { color: white;
 background-color: #90603a
}
.menuitem {margin-left:20px; border: 4px dotted #c4c4c4 }
body{padding-top:100px; background-color: #FFFBF3; color: #887671;
  margin-left:30px; margin-right:30px; font-family:"Consolas";
  font-size:large;}
