#aaa{border:2px solid #000065;
display: inline-block; width:567px;}
#menubar{background-color:#000065;}
#menubar ul{margin :0; padding:0; width:567px;}
#menubar ul li a{text-decoration: none; color : white;}
#menubar ul li {display: inline-block; padding:0px 15px;}
#menu{padding: 10px; display: inline-block; position : absolute; top: 240px; }
#menubar ul li:hover {color: white; background-color: #12465F;}

.menuitem {margin-left:20px; border: 4px dotted #c4c4c4 }
body{padding-top:70px; color:#000065;
  margin-left:30px; margin-right:30px; font-family:"Consolas";
  font-size:large;}
